.btn-primary {
  position: relative;
  overflow: hidden;
  background: radial-gradient(100% 100% at 100% 0%, #5adaff 0%, #5468ff 100%);
  box-shadow: 0px 2px 4px rgba(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px rgb(58 65 111 / 50%);
  transition: box-shadow 0.15s ease, transform 0.15s ease;
  will-change: box-shadow, transform;
}

.btn-primary:hover {
  box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #3c4fe0;
  transform: translateY(-2px);
}

.btn-primary:active {
  box-shadow: inset 0px 3px 7px #3c4fe0;
  transform: translateY(2px);
}

.btn-primary::after {
  content: '';
  position: absolute;
  top: calc(var(--y, 0) * 1px - 50px);
  left: calc(var(--x, 0) * 1px - 50px);
  width: 150px;
  height: 150px;
  background: radial-gradient(white, transparent 70%);
  opacity: 0;
  transition: opacity 0.2s;
}

.btn-primary:hover::after {
  opacity: 0.3;
}

.btn-secondary {
  transition: box-shadow 0.15s ease, transform 0.15s ease;
  will-change: box-shadow, transform;
  background: #fcfcfd;
  box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
}

.btn-secondary:hover {
  box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
  transform: translateY(-2px);
}

.btn-secondary:active {
  box-shadow: inset 0px 3px 7px #d6d6e7;
  transform: translateY(2px);
}
